.app {
  font-family: sans-serif;
}

.creatorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px 0;
}

.addButton {
  background-color: palevioletred;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.deleteButton {
  background-color: transparent;
  color: red;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1.2rem;
}

.input {
  margin: 5px;
}

.transactionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 0 5px;
}

.modalWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: lime;
  padding: 40px;
}
